html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  background-color: antiquewhite;
}

.homepage-container{
  overflow: "hidden"
}

.navlinks {
  color: black;
}

.logo {
  height: 75px;
}

/* ----------hero img---------- */
.fruitimg {
  width: 180%;
  height: 1800px;
  left: 100%;
  right: 100%;
  margin-top: -5%;
  margin-left: -25vw;
  margin-right: -25vw;
  filter: brightness(125%);
}

/* Centered text */
.centered {
  position: absolute;
  top: 40%;
  left: 5%;
}

.list {
  list-style-type: none;
  color: #ffa502;
}

.txt {
  color: #ffc44d;
}

.title {
  font-size: 400%;
  color: #ffc44d;
}

.prot {
  color: #ffa502;
}

.stack {
  margin-top: 15px;
}

@media screen and (max-width: 480px) {
  .fimg {
    display: none;
  }
}
